---
title: Geek Team
date: 2015-11-17 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->               
	<div class="col-md-7">
	  <h2 class="no-top-space">Những gã cuồng công nghệ</h2>
	  <p>Với niềm đam mê cháy bỏng về công nghệ, sự khát khao mãnh liệt của tuổi trẻ, chúng tôi đã, đang và sẽ nỗ lực hơn để tạo ra giá trị cho Xã hội.</p>
	  <!-- BEGIN LISTS -->
	  <div class="row front-lists-v1">
	    <div class="col-md-6">
	      <ul class="list-unstyled margin-bottom-20">
		<li><i class="fa fa-check"></i> Thiết kế hệ thống lớn </li>
		<li><i class="fa fa-check"></i> Cung cấp giải pháp bảo mật thông tin</li>
		<li><i class="fa fa-check"></i> Nghiên cứu Deep Learning, AI, thực tế ảo</li>
	      </ul>
	    </div>
	    <div class="col-md-6">
	      <ul class="list-unstyled">
		<li><i class="fa fa-check"></i> Phát triển các ứng dụng phục vụ cộng đồng</li>
		<li><i class="fa fa-check"></i> Lập trình ứng dụng Mobile (android/iOS) </li>
		<li><i class="fa fa-check"></i> Lập trình Web, UI Design </li>
	      </ul>
	    </div>
	  </div>
	  <!-- END LISTS -->
	</div>
	<!-- END INFO BLOCK -->   

	<!-- BEGIN CAROUSEL -->            
	<div class="col-md-5 front-carousel">
	  <div id="myCarousel" class="carousel slide">
	    <!-- Carousel items -->
	    <div class="carousel-inner">
	      <div class="item active">
                <img src='../metronic/assets/KanaYomi/chien_team2.jpg'>
		<div class="carousel-caption">
		  <p>Chinh phục thử thách</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/KanaYomi/toan_team1.jpg'>
		<div class="carousel-caption">
		  <p>Vượt qua khó khăn</p>
		</div>
	      </div>
	      <div class="item">
                <img src='../metronic/assets/KanaYomi/chien_team1.jpg'>
		<div class="carousel-caption">
		  <p>Kết nối bạn bè</p>
		</div>
	      </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
	      <i class="fa fa-angle-left"></i>
	    </a>
	    <a class="carousel-control right" href="#myCarousel" data-slide="next">
	      <i class="fa fa-angle-right"></i>
	    </a>
	  </div>                
	</div>
	<!-- END CAROUSEL -->
      </div>

      <div class="row margin-bottom-40">
	<!-- BEGIN TESTIMONIALS -->
	<div class="col-md-7 testimonials-v1">
	  <h2>Tự sự</h2>
	  <div id="myCarousel1" class="carousel slide">
	    <!-- Carousel items -->
	    <div class="carousel-inner">
	      <div class="active item">
		<blockquote><p>Nhà thì nghèo, học thì dốt Chỉ được cái đẹp trai, tốt bụng dạ.<br>Hai mấy năm code lang chạ Thông tin chi tiết, tại hạ <a href="https://toannv.me/about/">tại đây</a></p></blockquote>
		<div class="carousel-info">
		  <img src='../metronic/assets/KanaYomi/toan.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Nguyễn Văn Toàn</span>
		    <span class="testimonials-post">Kĩ sư phát triển hệ thống</span>
		  </div>
		</div>
	      </div>
	      <div class="item">
		<blockquote><p>Your future depends on many things, but mostly on you.</p></blockquote>
		<div class="carousel-info">
		  <img src='../metronic/assets/KanaYomi/chien.jpg'>
		  <div class="pull-left">
		    <span class="testimonials-name">Phạm Ngọc Chiến</span>
		    <span class="testimonials-post">Kĩ sư phát triển ứng dụng</span>
		  </div>
		</div>
	      </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="left-btn" href="#myCarousel1" data-slide="prev"></a>
	    <a class="right-btn" href="#myCarousel1" data-slide="next"></a>
	  </div>
	</div>
	<!-- END TESTIMONIALS --> 

	<!-- BEGIN PROGRESS BAR -->
	<div class="col-md-5 front-skills">
	  <h2 class="block">Our Skills</h2>
	  <span>Architecture Design 90%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 90%;"></div>
	  </div>
	  <span>Mobile, Server, Web Development Skill 90%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 90%;"></div>
	  </div>
	  <span>Deep learning, AI, VR 75%</span>
	  <div class="progress">
	    <div role="progressbar" class="progress-bar" style="width: 75%;"></div>
	  </div>
	</div>                       
	<!-- END PROGRESS BAR -->
      </div>

      <div class="row front-team">
	<ul class="list-unstyled">
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/KanaYomi/toan.jpg'>
	      <h3>
		<strong>Nguyễn Văn Toàn</strong>
		<small>Kĩ sư phát triển hệ thống / CTO</small>
	      </h3>
	      <p>Đại học công nghệ - Đại học Quốc Gia Hà Nội</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
		<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
		<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
	      </ul>
	    </div>
	  </li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/KanaYomi/chien.jpg'>
	      <h3>
		<strong>Phạm Ngọc Chiến</strong>
		<small>Kĩ sư phát triển ứng dụng / CEO</small>
	      </h3>
	      <p>Khoa CNTT & TT Việt Nhật - Đại học bách khoa Hà Nội</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
		<li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
		<li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
	      </ul>
	    </div>
	  </li>
	</ul>            
      </div>

    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
