---
layout: index
---
<div class="container-fluid flush-with-header">
  <div class="row margin-bottom-40 row-corporate bg-light-1">
    <div class="container">
      <div class="col-xs-8 col-sm-6 row-corporate-text-container">
	<div class="row-corporate-text">
	  <h1>KanaYomi <b class="require"><a href="https://itunes.apple.com/us/app/kanayomi/id1315238862">tham gia ngay</a></b></h1>
	  <h3 class="wow fadeIn">Đọc báo thả ga, không lo từ mới.</h3>
	  <h4 class="wow fadeIn"><a href="https://kanayomi.com/">https://kanayomi.com/</a></h4>
	</div>
      </div>
      <div class="col-xs-4 col-sm-6">
	<img src="/metronic/assets/KanaYomi/banner.png">
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row service-box margin-bottom-40">
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-location-arrow blue wow rollIn"></i></em>
	  <span>Từ Vựng</span>
	</div>
	<p>Hãy bỏ qua nỗi lo từ mới sang một bên, và đồng hành cùng chúng tôi. Chỉ với một cú tap nhẹ nhàng bạn đã có thể biết ý nghĩa của từ mới. Với những tính năng vượt trội của mình, chúng tôi cam kết bạn sẽ tăng khả năng đọc hiểu Tiếng Nhật khi sử dụng ứng dụng của chúng tôi.</p>
	  <img class="img-responsive"
	  src="/metronic/assets/KanaYomi/dict.png">
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-check red wow rollIn"></i></em>
	  <span>Trải Nghiệm</span>
	</div>
	<p>Chúng tôi luôn luôn cập nhật những tin tức mới nhất, hot nhất từ đất nước mặt trời mọc, với hàng chục chủ đề khác nhau. Chúng tôi hi vọng bạn có những phút giây hạnh phúc với ứng dụng của chúng tôi.</p><br>
	  <img class="img-responsive"
	  src="/metronic/assets/KanaYomi/list.png">
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-compress green wow rollIn"></i></em>
	  <span>Phong Phú</span>
	</div>
	<p>Từ những bài báo đơn giản dành cho người mới học Tiếng Nhật, đến những bài báo chính thống Tiếng Nhật. Hàng ngày có hàng nghìn bài báo mới với hàng chục chủ đề khác nhau. Chúng tôi cam kết mang lại sự phong phú về mặt nội dung và chất lượng tin tức.

</p>
	  <img class="img-responsive"
	  src="/metronic/assets/KanaYomi/menu.png">
      </div>
    </div>
    </div>
<div class="container-fluid">
<div class="row margin-bottom-40 row-corporate bg-light-2">
  <div class="container">
    <div class="col-xs-4 col-xs-pull-4 col-sm-pull-0 col-sm-6 wow fadeIn">
      <img src="/metronic/assets/pages/img/frontend-slider/iphone_right.png">
    </div>
    <div class="col-xs-6 row-corporate-text-container">
    <div class="row-corporate-text">
      <h1>Khám Phá Không Giới Hạn<br><b class="wow fadeIn require">Xử lý đa ngôn ngữ.
</b></h1>
      <h4 class="wow fadeIn"> Từ hình ảnh đến video, từ tiếng Hán đến phát âm, từ tiếng Trung đến tiếng Hàn, tất cả đã có trong <b class="wow fadeIn require">KanaYomi</b>.</h4>
    </div>
    </div>
  </div>
</div>
</div>

<div class="main">
  <div class="container">
    <!-- BEGIN STEPS -->
    <div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3 wow
    fadeIn">
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step1">
	  <h2>Miễn phí</h2>
	  <p>Bạn hoàn toàn có thể trải nghiệm và không mất thêm chi phí nào. Hoàn toàn miễn phí.</p>
	</div>
      </div>
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step2">
	  <h2>Tiện lợi</h2>
	  <p>Tap vào từ mới để hiện nghĩa ngay lập tức.</p>
	</div>
      </div>
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step3">
	  <h2>Đa nền tảng</h2>
	  <p>Hiện nay phần mềm của chúng tôi đã có sẵn trên nền tảng Android và iOS.</p>
	</div>
      </div>
    </div>
    <!-- END STEPS -->

    <!-- BEGIN RECENT WORKS -->
    <div class="row recent-work margin-bottom-40">
      <div class="col-md-3">
            <h1 class="wow fadeIn"><a href="/archives/">Gần đây</a></h1>
            <p class="wow fadeIn"><h4>Chúng tôi luôn luôn mở rộng, cập nhật không ngừng.</h4></p>
      </div>
      <div class="col-md-9">
	<div class="owl-carousel owl-carousel3">
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/KanaYomi/statistics.png" alt="Amazing Project" class="img-responsive">
	      <a href="https://www.facebook.com/KanaYomi-142121986461732"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/KanaYomi/statistics.png" class="fancybox-button" title="Thống kê" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="https://itunes.apple.com/us/app/kanayomi/id1315238862">
	      <strong>Thống kê</strong>
	      <b>Thống kê các từ thường gặp trên các báo.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/KanaYomi/dict2.png" alt="kanayomi" class="img-responsive">
	      <a href="https://itunes.apple.com/us/app/kanayomi/id1315238862"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/KanaYomi/dict2.png" class="fancybox-button" title="Từ điển đa ngôn ngữ" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="https://itunes.apple.com/us/app/kanayomi/id1315238862">
	      <strong>Mở rộng</strong>
	      <b>Đối ứng đa ngôn ngữ, hướng tới toàn cầu.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/KanaYomi/play.png" alt="kanayomi" class="img-responsive">
	      <a href="https://play.google.com/store/apps/details?id=com.akira.nguyen.kanayomi"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/KanaYomi/play.png" class="fancybox-button" title="Google Play" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="https://play.google.com/store/apps/details?id=com.akira.nguyen.kanayomi">
	      <strong>Google Play</strong>
	      <b>KanaYomi nhận được rất nhiều phản hồi tích cực từ người dùng.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img4.jpg" alt="kanayomi" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img5.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img5.jpg" class="fancybox-button" title="Project Name #5" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img6.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img6.jpg" class="fancybox-button" title="Project Name #6" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img3.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Amazing Project</strong>
	      <b>Agenda corp.</b>
	    </a>
	  </div>
	  <div class="recent-work-item">
	    <em>
	      <img src="metronic/assets/pages/img/works/img4.jpg" alt="Amazing Project" class="img-responsive">
	      <a href="portfolio-item.html"><i class="fa fa-link"></i></a>
	      <a href="metronic/assets/pages/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
	    </em>
	    <a class="recent-work-description" href="/projects/#project1">
	      <strong>Google Play</strong>
	      <b>Download Now</b>
	    </a>
	  </div>
	</div>
      </div>
    </div>
    <!-- END RECENT WORKS -->

    </div>
    <!-- END TABS AND TESTIMONIALS -->
    <!-- BEGIN BLOCKQUOTE BLOCK -->
    <div class="row quote-v1 margin-bottom-40 ">
      <div class="col-md-9">
	<span></span>
      </div>
    </div>
    <!-- END BLOCKQUOTE BLOCK -->


    <!-- BEGIN CLIENTS -->
    <div class="row margin-bottom-40 our-clients">
      <div class="col-md-3">
	<h2><a href="javascript:;">Nhà tài trợ</a></h2>
	<p>Những người luôn đồng hành cùng chúng tôi.</p>
      </div>
      <div class="col-md-9">
	<div class="owl-carousel owl-carousel6-brands">
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_1_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_1.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_2_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_2.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_3_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_3.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_4_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_4.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_5_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_5.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_6_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_6.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_7_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_7.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	  <div class="client-item">
	    <a href="javascript:;">
	      <img src="metronic/assets/pages/img/clients/client_8_gray.png" class="img-responsive" alt="">
	      <img src="metronic/assets/pages/img/clients/client_8.png" class="color-img img-responsive" alt="">
	    </a>
	  </div>
	</div>
      </div>
    </div>
    <!-- END CLIENTS -->
  </div>
</div>

